@import "_variables.scss";
.pikachu {
  height: 20rem;
  transition: all 0.3s;
  border-radius: 50%;
  margin: 5rem;
}

.pikachu:hover {
  border-radius: 0;
  filter: greyscale(100%);
  transform: scale(1.3);
}
