@import "_variables.scss";
.text-effect {
  background-image: url("./media/water.jpg");
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
}

.text-effect:hover {
  transform: skewY(-10deg);
  letter-spacing: 3rem;
}
